.wrapper {
  min-width: 720px;
  padding: 10px;
}

.chartWrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.detailPatient {
  background-color: rgb(215, 250, 215) !important;
}

.detailPatient > div {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.detailPatient > div > div {
  flex: 1;
}

.detailPatient > div > ul {
  flex: 1;
  text-align: left;
}

.control {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.control > * {
  flex: 1;
}

.length {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.length input {
  text-align: right;
}
